@model BioGamesTransport.Data.SQL.Customers

@{
    ViewData["Title"] = "Részletek";
}

<div class="col-lg-12">
    <h1 class="page-header"> Ügyfél adatlap</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Ügyfél adatok
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <dl class="dl-horizontal customer-description">
                            <dt>
                                @Html.DisplayNameFor(model => model.Id)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.OutCustomerId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.OutCustomerId)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                   
                            <dt>
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Type)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Phone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.BankAccount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BankAccount)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Company)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Company)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Comment)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Comment)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Modified)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Modified)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Shop)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Shop.Name)
                            </dd>
                        </dl>
                        <div>
                            <br />
                            <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@Model.Id">Ügyfél adatok szerkesztése</a> |
                            <a class="btn btn-primary btn-xs" asp-action="Index">Vissza az ügyfél listához</a>
                        </div>
                        @await Html.PartialAsync("~/Views/Customers/Partial/Ship_Invo.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                       

                
