@model BioGamesTransport.Data.SQL.WaybillDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaybillDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weighting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weighting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waybill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waybill.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
