@model BioGamesTransport.Data.SQL.Orders
<br />
<div class="clearfix"></div>
<a class="btn btn-outline btn-warning" asp-action="CustomerEdit" asp-route-id="@Model.Id">Vevő Módosítás</a>
<div class="clearfix"></div>
<div id="ShipInvoCollaspse" class="">
    <div class="table-responsive-xl">
  
        <h4>Vevő adatok</h4>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th> @Html.DisplayNameFor(model => model.Customer.FirstName)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.LastName)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.Email)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.Phone)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.Type)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.BankAccount)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.Company)</th>
                <th> @Html.DisplayNameFor(model => model.Customer.Comment)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(modelItem => Model.Customer.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.LastName)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.Email)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.Phone)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.Type)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.BankAccount)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.Company)</td>
                <td>@Html.DisplayFor(modelItem => Model.Customer.Comment)</td>
            </tr>
        </table>

        <h4>Számlázási adatok</h4>


        <table class="table table-striped table-bordered table-hover">
     
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.Zipcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.TaxNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceAddress.Comment)
                    </th>

                </tr>
       


                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.Country)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.City)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.Zipcode)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.Address)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.Company)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.TaxNumber)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => Model.InvoiceAddress.Comment)</td>

                </tr>


           
        </table>

        <h4>Szállítási adatok</h4>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.Zipcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipAddress.Comment)
                    </th>

                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.Country)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.City)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.Zipcode)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.Address)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.Company)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ShipAddress.Comment)</td>

                </tr>


            </tbody>
        </table>

    </div>
</div>