@model IEnumerable<BioGamesTransport.Data.SQL.Orders>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderOutRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDatetime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ShipUndertakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipExpectedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderOutRef)
            </td>
            <td>
                <button type="button" class="btn btn-@Html.DisplayFor(modelItem => item.OrderStatus.Color) btn-sm"> @Html.DisplayFor(modelItem => item.OrderStatus.Name) </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDatetime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShipUndertakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipExpectedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>

            <td>
                <a class="btn btn-outline btn-success btn-xs" asp-action="Edit" asp-route-id="@item.Id">Pénzügy</a> |
                <a class="btn btn-outline btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.Id">Szállítás</a> |
                <a class="btn btn-outline btn-primary btn-xs" asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                <a class="btn btn-outline btn-default btn-xs" asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                <a class="btn btn-outline btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
