@model BioGamesTransport.Data.SQL.OrderDetails
@{
    ViewData["Title"] = "Részletek";
}
<h2>Részletek</h2>
<div>
    <h4>Rendelés részletek</h4>
    <hr />
    <dl class="dl-horizontal customer-description">
        <dt>
            @Html.DisplayNameFor(model => model.ProductOutId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductOutId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Images.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
